button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.27rem;
  padding: 0.5rem 1rem;
  border-color: transparent;
  border-radius: 0.38rem;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
}

.button {
  color: var(--text-default);
  background-color: var(--default);
}

.button:hover,
.button:focus {
  background-color: var(--default-focus);
}

.box-shadow {
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.outline {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.text {
  color: var(--primary);
}

.outline:hover,
.outline:focus,
.text:hover,
.text:focus {
  background-color: var(--outline-focus);
}

.button:disabled, .outline:disabled {
  background-color: var(--default);
  color: var(--text-disabled);
  border: none;
  cursor: not-allowed;
}

.text:disabled {
  background-color: transparent;
  color: var(--text-disabled);
  cursor: not-allowed;
}

.reverse-items {
  flex-direction: row-reverse;
}
